[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/qemu/qemu.git
[submodule "crosvm"]
	path = crosvm
	url = https://chromium.googlesource.com/crosvm/crosvm
[submodule "oss/binutils-gdb"]
	path = oss/binutils-gdb
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "oss/gcc"]
	path = oss/gcc
	url = https://github.com/gcc-mirror/gcc.git
[submodule "oss/glibc"]
	path = oss/glibc
	url = git://sourceware.org/git/glibc.git
[submodule "oss/qemu"]
	path = oss/qemu
	url = https://github.com/qemu/qemu.git
[submodule "linux-host"]
	path = linux-host
	url = https://github.com/tiiuae/kernel-nvidia-jetson.git
[submodule "pkvm-debug-tools"]
	path = pkvm-debug-tools
	url = git@github.com:tiiuae/pkvm-debug-tools.git
