[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/qemu/qemu.git
[submodule "crosvm"]
	path = crosvm
	url = https://chromium.googlesource.com/crosvm/crosvm
